*{
    text-align: center;
}
.btn-Container{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
   

}
.btn{
    width: 20vh;
    height: 20vh;
    border: 5px solid black;
    border-radius: 20%;
    margin: 2.5rem;

}
.yellow{
    background-color: #f99b45;

}
.red{
    background-color: #d95988;
}
.purple{
    background-color: #819ff9;
}
.green{
    background-color: #63aac0;
}
.flash{
    background-color: white;
}
.userFlace{
    background-color: green;
}